body {
  position: relative;
  background-color: #20232f;
  height: 100vh;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.wrapper {
  padding: 150px;
  width: 100%;
}

.section {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 50px 0px 50px 0px;
}
.introduce {
  animation: introduce 0.7s linear;
}

@keyframes introduce {
  0% {
    transform: translateY(-70px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
  }
}

.avatarWrap {
  width: 750px;
  color: #ffffff;
  position: relative;
  height: 330px;
  margin-top: 55px;
  animation: avatarWrap 0.8s linear;
}

@keyframes avatarWrap {
  0% {
    transform: translateY(70px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
  }
}

.letter {
  font-size: 3.5em;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}
.letter-M {
  left: 10%;
}
.letter-N {
  right: 10%;
}
.moon {
  background-color: #f5f5f5;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 0 0 0 0.6em rgba(255, 255, 255, 0.07),
    0 0 0 1.2em rgba(255, 255, 255, 0.07), 0 0 0 1.8em rgba(255, 255, 255, 0.07);
  animation: moon 3s infinite;
  animation-timing-function: linear;
}
@keyframes moon {
  0% {
    top: 0%;
  }
  50% {
    top: -20%;
  }
  100% {
    top: 0%;
  }
}

.avtart {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.avtart img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
}

.orbit {
  position: absolute;
  top: -25%;
  left: -25%;
  width: 150%;
  height: 150%;
  border-radius: 50%;
  animation: spin 4s infinite linear;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.orbit p {
  position: absolute;
  font-size: 30px;
  top: 4.6rem;
  left: 2.7rem;
  margin: 0 !important;
}
.rob {
  position: absolute;
  top: 6.3rem !important;
  left: 1.2rem !important;
  opacity: 0.5;
  font-size: 30px;
  transform: rotate(180deg);
}
.luxurious {
  position: absolute;
  font-size: 30px;
  bottom: 3rem;
  right: 4rem;
  color: #1bf1e7;
}
.hello {
  font-size: 35px;
  font-weight: 700;
}
.name {
  font-size: 55px;
  font-weight: 700;
  animation: name 0.8s linear;
}
@keyframes name {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
  }
}
.introduce-text {
  font-size: 35px;
  font-weight: 700;
}
.describe {
  animation: describe 0.8s linear;
}
@keyframes describe {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
  }
}
.animation-text {
  color: #1bf1e7;
  position: relative;
  font-weight: 700;
}
.animation-text::before {
  content: ' ';
  position: absolute;
  background-color: #20232f;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  border-left: 2px solid #1bf1e7;
  animation: animate 2.95s steps(12) infinite;
}
@keyframes animate {
  40%,
  60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

.iconWrap {
  display: flex;
  margin-top: 35px;
  gap: 35px;
}
.icon {
  font-size: 35px;
  border: 2px solid #1bf1e7;
  color: #1bf1e7;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s;
  text-decoration: none;
}
.icon:hover {
  opacity: 0.8;
  transform: scale(1.2);
  background-color: #48f1e9;
  color: black;
  text-decoration: none;
}

.btn-downloadCv {
  margin-top: 40px;
  width: 200px;
  height: 50px;
  border-radius: 18px;
  background-color: #1bf1e7;
  border: none;
  box-shadow: 0 0 8px 2px #1bf1e7;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  transition: all 0.4s;
  color: #383535;
}

.btn-downloadCv:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.name {
  font-size: 55px;
  font-weight: 700;
  animation: name 0.8s linear;
}
.hello {
  font-size: 35px;
  font-weight: 700;
}

.introduce-text {
  font-size: 35px;
  font-weight: 700;
  display: inline-block;
}

.fireworks {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 992px) {
  body {
    overflow-y: auto;
  }
  .wrapper {
    padding: 0 20px;
  }
  .hello {
    margin-top: 484px;
    font-size: 28px;
  }
  .name {
    font-size: 36px;
  }
  .introduce-text {
    font-size: 28px;
  }
  .animation-text {
    font-size: 34px;
  }
  .btn-downloadCv {
    width: 100%;
    height: 60px;
    font-size: 22px;
  }
  .iconWrap {
    justify-content: center;
  }
  .avatarWrap {
    width: 100%;
    margin-top: 130px;
    margin-bottom: 200px;
  }
  .moon {
    height: 250px;
    width: 250px;
  }
}
